/* body {
   font-size; 10px;
} */

h1 {
    font-size: 25px;
    font-family: 'Merriweather Sans';
    font-weight: 100;
    color: white;
}

h2 {
    font-size: 18px;
    font-family: 'Merriweather Sans';
}

h3 {
    font-size: 16px;
    font-family: 'Merriweather Sans';
    margin-bottom: 2em;
}

/* Elements */

#container {
    background-color: rgb(151, 167, 101); 
    margin-top: 30pt;
    height: 530pt;
    width: 275pt;
    border: 3px solid rgb(240, 240, 240);
    border-radius: 0.5em;
    box-shadow: -5px 10px 10px rgb(211, 211, 211);
}

#logo {
    margin-left: 8.5em;
    margin-top: 2em;
}

#environment_cam {
    transform: translateY(15%);
}

#prod_img {
    transform: translateY(10%);
}


#capturebtn {
    transform: translate(45%, 380%);
}

a {
    color: black;
}

#navmenu {
    transform: translateY(315%);
    flex-direction: column;
    
}

#navmenutwo {
    transform: translateY(265%);
    flex-direction: column;
}

.nav-pills .pill-1 .nav-link {
    background-color: rgb(14, 13, 13);
    color: white;
}

.pill-1 .nav-link:hover {
    background-color:  rgb(83, 94, 53); 
}

#info {
    margin-left: 1em;
    margin-top: 3em;
    text-transform: uppercase;
    font-family: 'Merriweather Sans';
}

#info a {
    padding: 1em;
}

#info a:hover {
    color: black;
}

#brand {
    background-color:#899b57; 
    display: block;
    margin-left: -1em;
    border-bottom: 1px solid rgb(52, 59, 33, 0.5);
}

#ethics {
    background-color:#899b57;
    display: block;
    margin-left: -1em;
    border: 1px solid rgb(52, 59, 33, 0.5);
}


#certs {
    background-color:#899b57; 
    display: block;
    margin-left: -1em;
    border: 1px solid rgb(52, 59, 33, 0.5);
}

#rating {
    background-color: #899b57;
    display: block;
    margin-left: -1em;
    border: 1px solid rgb(52, 59, 33, 0.5);
}


.text {
    font-size: 15px;
    text-transform: none;
    display: none;
    display: block;
    background-color: rgb(118, 134, 74); 
    margin-left: -1em;
    margin-bottom: 0em;
    color: black;
    padding: 1em;
}

